@font-face {
    font-family: 'norwesterregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/norwester-webfont.woff2') format('woff2'),
    url('../fonts/norwester-webfont.woff') format('woff');
}
