$footer-brown: #54534a;
$light-green: #b5d34c;
$menu-brown: #f1f1f2;
$black: #000;
$menu-bg: #f8f8f8;
$menu-txt: #414042;
$head-text-highlight: #afd136;
$scarpa-flow: #59595a;
$white: #fff;
$titan-white: #f1f1ff;
$quill-gray: #dfdfdd;
$red: #f00;
$contact-text-highlight: #24282a;
$gray: #9d9fa2;
$dragger-bar-color: rgba(175, 209, 54, 1);
$dragger-rail-color: rgba(175, 209, 54, .2);
