$site-left-nav: 160px;

$breakpoint-sm-mobile: 375px;
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-boot-large: 992px;
$breakpoint-large: 1024px;
$breakpoint-boot-xl: 1200px;
$breakpoint-laptop: 1440px;
$breakpoint-max: 1920px;
$breakpoint-4k: 2560px;

$light-green-border: 1px solid $light-green;

$letter-spacing: 1px;
